

.displayblock {
 display:block;
 flex-direction: column;
 width: 1400px;
 margin: 0 auto;
}
.buttons_container,.button_row{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.button_row>*,.cell0,.cell1
{

  height:15px;
  background: rgb(192, 192, 192);
  flex:1;
  border:0px ; 
}

.cell0{
  background: rgb(200,200,200);
  color: rgb(200,200,200);
}
.cell1{
  background: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.start {
  background: rgb(0, 255, 221);
  border: 1px solid rgb(200,200,200);
  
}
.stop {
  background: rgb(255, 38, 0);
  border: 1px solid rgb(200,200,200);
}

