*{
  border:0px 
}
.App{
  text-align: center;
}
.displayblock,.buttons_container{
 display:inline-block;
  padding:  auto;
  width: auto;
  line-height:0;
}
.button_row,.cell0,.cell1,.cell2,.cell3
{
  width: auto;
  height: 15px;
  margin:0px;
  outline:none;
  padding: auto;
  background: rgb(192, 192, 192);
}

.cell0{
  background: rgb(200,200,200);
  color: rgb(200,200,200);
}
.cell1{
  background: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
.cell2{
  background:  rgb(0, 0, 0);;
  color:  rgb(0, 0, 0);
}
.cell3{
  background: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
.start {
  background: rgb(0, 255, 221);
  border: 1px solid rgb(0, 0, 0);
}
.stop {
  background: rgb(255, 38, 0);
  border: 1px solid rgb(0, 0, 0);
}

